<h2 class="title-content">{{test.title}}</h2>
<div class="container">
    <div class="row questions-row" *ngFor="let question of test.questions  | slice:startItem:endItem">
        <div class="col-md-6">
            <div *ngIf="question.imageType !== ''">
                <img class="test-image" src="data:image/{{question.imageType}};base64,{{question.imageBase64}}" alt="{{test.title}}">
            </div>
            <div *ngIf="question.audioType !== ''">
                <audio controls>
                    <source src="data:audio/{{question.audioType}};base64,{{question.audioBase64}}" />
                </audio>

            </div>
            <label class="questions-text"> {{question.questionsId}}. {{question.questionText}}</label>

            <div *ngFor="let answer of question.answers ; let a = index">

                <div class="custom-control custom-radio" [ngClass]="(!answer.isSelected)?'input-radio-item':'input-radio-item-selected'" (click)="selectAnswer($event,question.questionIndex, answer.answerIndex)">

                    <input type="radio" [checked]="answer.isSelected" class="custom-control-input">
                    <label class="custom-control-label questions-radio-text">{{answer.answer}}</label>
                </div>
            </div>


        </div>
    </div>


    <div class="row">
        <div class="col-md-6">

            <button type="button" [disabled]="!showPreviewButton" class="btn btn-primary btn-lg btn-square" (click)="onChangePage('preview' , startItem , endItem )">PREVIEW</button>

            <button type="button" [disabled]="!showNextButton" class="btn btn-primary btn-lg btn-square " (click)="onChangePage('next' , startItem , endItem )">NEXT</button>


        </div>
        <div class="col-md-6 text-right ">

            <button type="button" class="btn btn-success btn-lg btn-square text-right " (click)="saveTestUser()">FINISH THE
                TEST</button>
        </div>
    </div>