<body>

    <div class="container-fluid">
        <div class="row">

            <header>
                <nav>
                    <img src="assets/images/logo.png" alt="logo" class="logo-top">
                    <label for="" class="menu-title">M.U.A English Center</label>
                    <div class="button-logout">
                        <button type="button" class="btn btn-outline-light" (click)="logout()">Logout</button>
                    </div>
                </nav>
                <div class="title-home-student">
                    <h1 class="welcome-student">Welcome</h1>
                    <h2 class="user-student">{{ authservice.userLogged.user }}</h2>
                </div>
            </header>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div *ngIf="activedScore">
                    <!--                 <app-score-box [countTestsGrammarCompleted]="countTestsGrammarCompleted" [countTestsListeningCompleted]="countTestsListeningCompleted"></app-score-box>
 -->
                    <app-score-box></app-score-box>
                </div>


            </div>

            <div class="col-md-10">
                <div class="main-content active-scroll-vertical">
                    <div *ngIf="activedTestContent">
                        <app-test-content (testbyId)="onOpenTestById($event)"></app-test-content>
                        <!--   <app-test-content [listTestUserGrammar]="listTestUserGrammar" [listTestUserListening]="listTestUserListening"></app-test-content> -->
                    </div>
                    <div *ngIf="activedTest">
                        <app-tests></app-tests>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <router-outlet></router-outlet>
</body>