<div class="img-box-item">
    <img class="score-image" src="assets/images/score-image.png" alt="Score Image">

</div>

<p class="text-title-score-box">
    GRAMMAR
    <br/> TESTS
    <br/> COMPLETED
</p>

<div class="link-score" (click)="OnClickOpenListTest('grammar')">
    <label class="score-result">{{ countGrammar }}</label>

</div>

<p class="text-title-score-box">
    LISTENING<br/> TESTS <br/> COMPLETED
</p>

<div class="link-score" (click)="OnClickOpenListTest('listening')">
    <label class="score-result">{{ countListening }}</label>

</div>