<div class="container">
    <!--   Start Header Section -->
    <div class="row">
        <div class="col-md-12">
            <div><img class="logo" src="assets/images/logo.png"></div>
            <div>
                <h1>{{schoolName}}</h1>
            </div>

        </div>

    </div>

    <!--     End Header Section -->
    <!--   Start Student Information Section -->
    <div class="row">
        <div class="col-md-12">
            <div><label>Student Name:<span>&nbsp;Leonardo Palmeiro</span></label></div>
            <div><label>Test Title:<span>&nbsp;Test 01</span></label></div>
            <div><label>Test Subtitle:<span>&nbsp;ABC</span></label></div>
            <div><label>Test Type:<span>&nbsp;Grammar</span></label></div>
            <div><label>Result:<span>&nbsp;4/10</span></label></div>
        </div>
    </div>
    <!--     End Student Information Section -->
    <!--   Start Questions Information Section -->
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div>
                <h2>1.question 01</h2>
            </div>
            <div>
                <ul>
                    <li>question 01</li>
                    <li>question 01</li>
                    <li>question 01</li>
                    <li>question 01</li>
                </ul>
            </div>

        </div>
        <!--     End Question Information Section -->
    </div>
</div>
<router-outlet></router-outlet>