ul {
    list-style: none;
}

li {
    margin-left: 5px;
}

.answer-selected {
    font-style: italic;
    font-weight: bold;
}

.answer-correct {
    width: 20vw;
    background-color: #13c00d4b;
    border-radius: 5px;
}

.answer-wrong {
    width: 20vw;
    background-color: #c00d0d4b;
    border-radius: 5px;
}