/*import global for loading bar while access routing*/

@import "../node_modules/ng2-slim-loading-bar/style.css";

/* You can add global styles to this file, and also import other style files */

html,
body,
app-root {
    height: 100%;
    margin: 0;
}

.btn-square {
    border-radius: 0px;
}

.active-scroll-vertical {
    scroll-snap-type: mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-points-x: repeat(100%);
    white-space: nowrap;
}

.grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.score-box,
.main-content {
    background-color: #fff;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 4px 5px 10px #707070;
    height: 500px;
    font-family: 'Lato', 'sans-serif';
}

.score-box {
    width: 250px;
    margin-left: 60px;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Lato', 'sans-serif';
    font-size: 20px;
}

.title-content {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
}

.title-content:after {
    display: block;
    height: 4px;
    background-color: #3498db;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 50px;
}