<h2 class="title-content">LIST TEST GRAMMAR COMPLETED</h2>
<div class="container container-table active-scroll-vertical">
    <div class="row  ">

        <div class="col-md-12">
            <table class="table table-bordered table-striped table-hover table-responsive-md">
                <thead class="thead-inverse">
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Subtitle</th>
                        <th>N Questions</th>
                        <th>N Accept</th>
                        <th>N Wrong</th>
                        <th>N Average</th>
                        <th>Print</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"> 1</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td class="align-middle">
                            <a href="dashboardstudent"> <img src="../../../assets/images/print.svg" alt="Print Test" class="print-icon"></a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"> 1</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>ddsads</td>
                    </tr>
                    <tr>
                        <td scope="row"> 1</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>ddsads</td>
                    </tr>
                    <tr>
                        <td scope="row"> 1</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>ddsads</td>
                    </tr>
                    <tr>
                        <td scope="row"> 1</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>ddsads</td>
                    </tr>
                    <tr>
                        <td scope="row"> 1</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>ddsads</td>
                    </tr>
                    <tr>
                        <td scope="row"> 1</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>ddsads</td>
                    </tr>
                    <tr>
                        <td scope="row"> 1</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>ddsads</td>
                    </tr>
                    <tr>
                        <td scope="row"> 1</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>fdsf</td>
                        <td>ddsads</td>
                        <td>ddsads</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col-md-12 text-right">
            <a name="" id="" class="btn btn-primary" href="dashboardstudents" role="button">BACK</a>
        </div>
    </div>

</div>