<h2 class="title-content">LIST TEST COMPLETED</h2>
<div class="container container-size active-scroll-vertical">
    <div class="row  ">

        <div class="col-md-12">
            <table class="table table-bordered table-striped table-hover table-responsive-md">
                <thead class="thead-inverse">
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Subtitle</th>
                        <th>Type</th>
                        <!--                    <th>N Questions</th>
                        <th>N Accept</th>
                        <th>N Wrong</th>
                        <th>N Average</th> -->
                        <th>Print</th>

                    </tr>
                </thead>
                <tbody>



                    <tr *ngFor="let test of listTest">
                        <td scope="row"> {{test._id}}</td>
                        <td class="text-capitalize">{{test.title}}</td>
                        <td class="text-capitalize">{{test.subtitle}}</td>
                        <td class="text-capitalize">{{test.type}}</td>
                        <!--                             <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>3</td> -->
                        <td class="text-center">

                            <!--                             <a (click)="openPrintTest()" target="_blank"> <img src="../../../assets/images/print.svg" alt="Print Test" class="print-icon"></a> -->
                            <a [routerLink]="['/print/printTestCompleted/',test._id]" routerLinkActive="router-link-active" target="_blank"> <img src="../../../assets/images/print.svg" alt="Print Test" class="print-icon grow"></a>

                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-primary btn-lg btn-square" (click)="onClickClose()">HOME</button>
        </div>
    </div>

</div>