<body>

    <div class="container-fluid">
        <div class="row">

            <header>
                <nav>
                    <img src="assets/images/logo.png" alt="logo" class="logo-top">
                    <label for="" class="menu-title">M.U.A English Center</label>
                    <div class="button-logout">
                        <button type="button" class="btn btn-outline-light" (click)="logout()">Logout</button>
                    </div>
                </nav>
                <div class="title-home-student">
                    <h1 class="welcome-student">Welcome</h1>
                    <h2 class="user-student">{{ this.authservice.currentUserValue.user }}</h2>
                </div>
            </header>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="score-box">
                    <ng-container *ngIf="activedScore">
                        <app-score-box [testsbyUser]="testsbyUser"></app-score-box>
                    </ng-container>

                    <!--       <div *ngIf="activedScore"> -->
                    <!--                 <app-score-box [countTestsGrammarCompleted]="countTestsGrammarCompleted" [countTestsListeningCompleted]="countTestsListeningCompleted"></app-score-box>
 -->

                    <!--                     <app-score-box></app-score-box> -->
                    <!--                 </div> -->
                </div>

            </div>

            <div class="col-md-10">
                <div class="main-content active-scroll-vertical">
                    <ng-container *ngIf="activedTestContent">

                        <!--                         <app-test-content (testbyId)="onOpenTestById($event)"></app-test-content> -->
                        <app-test-content (testbyId)="onOpenTestById($event)" [testsbyUser]="testsbyUser"></app-test-content>

                    </ng-container>
                    <ng-container *ngIf="activedTest">
                        <app-tests (loadDashBoardStudent)="onReloadComponets()" [testId]="testId"></app-tests>

                    </ng-container>

                </div>
            </div>

        </div>

    </div>

</body>